<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="net45" />
  <package id="MonoCode.Core" version="1.0.0-pre01" targetFramework="net45" />
  <package id="MonoCode.Forms" version="1.0.0-pre01" targetFramework="net45" />
  <package id="MonoCode.Forms.Charting" version="1.0.0-pre01" targetFramework="net45" />
  <package id="MonoCode.IoC" version="1.0.0-pre01" targetFramework="net45" />
  <package id="MonoCode.Platform" version="1.0.0-pre01" targetFramework="net45" />
  <package id="MonoCode.Serialization" version="1.0.0-pre01" targetFramework="net45" />
  <package id="Xamarin.Forms" version="2.2.0.45" targetFramework="net45" />
</packages>